@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400px;
  color: #9597A5;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}
.header__body {
  min-height: 80px;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__body {
    justify-content: space-between;
    min-height: 64px;
  }
}

.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
  }
}

.header__burger.burger-active span {
  display: none;
}

.header__burger::before, .header__burger::after, .header__burger span {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

.header__burger span {
  top: 50%;
  transform: translateY(-1.5px);
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.burger-active::before {
  transform: rotate(-45deg);
  top: 50%;
}

.header__burger.burger-active::after {
  transform: rotate(45deg);
  top: 50%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 24px;
  }
}

.menu {
  flex: 1 1 auto;
  padding: 0 15px;
  transition: all 0.5s ease;
}
.menu__list {
  display: flex;
  justify-content: center;
  gap: 4.347826087%;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
}
.menu__link {
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 117.5%;
}
.menu__link:hover {
  border-bottom: 4px solid rgb(51, 211, 94);
  border-top: 4px solid rgba(0, 0, 0, 0);
}
@media (max-width: 767.98px) {
  .menu__link:hover {
    border-top: none;
    border-bottom: none;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 18px;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .menu {
    position: absolute;
    width: 90%;
    height: 275px;
    left: 110%;
    top: 88px;
    background-color: #fff;
    padding: 32px 30px;
    overflow: auto;
    border-radius: 10px;
  }
}

@media (max-width: 767.98px) {
  .menu.menu-open {
    left: 50%;
    transform: translateX(-50%);
    border: 20px solid transparent;
  }
}

.invite-btn {
  width: 163px;
  height: 44px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invite-btn:hover {
  opacity: 0.6;
}

@media (max-width: 767.98px) {
  .header__invite-btn {
    display: none;
  }
}

.digital-banking {
  padding: 17.4% 0 11.8% 0;
  background: url(../images/bg-intro-desktop.svg) no-repeat;
  background-position: 550px center;
  background-size: cover;
}
@media (max-width: 991.98px) {
  .digital-banking {
    background-position: 450px center;
  }
}
@media (max-width: 767.98px) {
  .digital-banking {
    background: none;
    padding: 0;
  }
}
.digital-banking__body {
  max-width: 42%;
}
@media (max-width: 767.98px) {
  .digital-banking__body {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.digital-banking__body_title {
  font-weight: 300;
  font-size: calc(40px + 1.1111111111vw);
  line-height: 114.2857142857%;
  margin-bottom: 24px;
  color: #2D314D;
}
@media (max-width: 767.98px) {
  .digital-banking__body_title {
    font-size: calc(40px + 27.2 * (100vw - 320px) / 1440);
    text-align: center;
  }
}
@media (min-width: 1490px) {
  .digital-banking__body_title {
    color: #30C88F;
  }
}
.digital-banking__body_text {
  font-size: calc(14px + 0.2777777778vw);
  line-height: 155.5555555556%;
  margin-bottom: 36px;
  color: #9597A5;
}
@media (max-width: 767.98px) {
  .digital-banking__body_text {
    font-size: calc(14px + 6.8 * (100vw - 320px) / 1440);
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .digital-banking__container {
    margin-top: -20%;
    padding-top: 10.7%;
    padding-bottom: 88px;
  }
}

.digital-banking__image_1 {
  position: relative;
}

.digital-banking__image_1 img {
  width: 100%;
}

.digital-banking__image_2 {
  position: absolute;
  top: 4%;
  right: 0;
  width: 50%;
}
@media (max-width: 767.98px) {
  .digital-banking__image_2 {
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
  }
}

.digital-banking__image_2 img {
  width: 100%;
}

.advantages {
  background-color: #F4F5F7;
  padding: 96px 0 94px 0;
}
@media (max-width: 767.98px) {
  .advantages {
    padding: 64px 0;
  }
}
.advantages__row1 {
  max-width: 635px;
}
@media (max-width: 767.98px) {
  .advantages__row1 {
    margin: 0 auto;
  }
}
.advantages__row1-text {
  font-size: calc(14px + 0.2777777778vw);
  font-weight: 400;
  line-height: 155.5555555556%;
  margin-bottom: 74px;
}
@media (max-width: 767.98px) {
  .advantages__row1-text {
    font-size: calc(14px + 6.8 * (100vw - 320px) / 1440);
    margin-bottom: 56px;
    text-align: center;
  }
}
.advantages__row2 {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767.98px) {
  .advantages__row2 {
    flex-direction: column;
    row-gap: 32px;
  }
}
.advantages__column {
  flex: 1 1 25%;
}
@media (max-width: 767.98px) {
  .advantages__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.advantages__column-icon {
  max-width: 72px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .advantages__column-icon {
    margin-bottom: 24px;
  }
}
.advantages__column-title {
  font-size: 24px;
  line-height: 116.6666666667%;
  margin-bottom: 26px;
  color: #2D314D;
}
@media (max-width: 767.98px) {
  .advantages__column-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.advantages__column-text {
  font-size: 16px;
  line-height: 162.5%;
}
@media (max-width: 767.98px) {
  .advantages__column-text {
    font-size: 15px;
    text-align: center;
  }
}

.title {
  font-size: calc(32px + 0.5555555556vw);
  font-weight: 300;
  line-height: 160%;
  color: #2D314D;
}
@media (max-width: 767.98px) {
  .title {
    text-align: center;
    font-size: calc(32px + 13.6 * (100vw - 320px) / 1440);
  }
}

.articles {
  padding: 80px 0;
}
.articles__title {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .articles__title {
    margin-bottom: 31px;
  }
}
.articles__cards {
  display: flex;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
@media (max-width: 767.98px) {
  .articles__cards {
    flex-direction: column;
  }
}
.articles__column-image {
  height: 200px;
}
.articles__column-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles .articles__column-content {
  padding: 9.3%;
}
@media (max-width: 767.98px) {
  .articles .articles__column-content {
    padding: 24px 31px;
  }
}
.articles__column-sign {
  font-size: 10px;
  line-height: 180%;
  margin-bottom: 8px;
}
.articles__column-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 125%;
  color: #2D314D;
  margin-bottom: 8px;
}
.articles__column-text {
  font-size: 13px;
  line-height: 138.4615384615%;
}

.footer {
  background-color: #2D314D;
  padding: 48px 0;
  min-height: 191px;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0;
  }
}
.footer__body {
  display: flex;
  min-height: 95px;
}
@media (max-width: 767.98px) {
  .footer__body {
    flex-direction: column;
    row-gap: 32px;
  }
}
.footer__menu {
  flex: 1 1 auto;
  padding-left: 11%;
}
@media (max-width: 767.98px) {
  .footer__menu {
    padding: 0;
  }
}
.footer__button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__button {
    align-items: center;
  }
}

.icons-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .icons-footer {
    align-items: center;
  }
}
.icons-footer__logo {
  margin-bottom: 32.3px;
}
.icons-footer__social {
  display: flex;
  -moz-column-gap: 13px;
       column-gap: 13px;
  fill: #fff;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.social-icon__link:hover path {
  fill: #30C88F;
}

.menu-footer__list {
  color: #fff;
  flex: 0 1 auto;
  font-size: 15px;
  line-height: 173.3333333333%;
  max-height: 95px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .menu-footer__list {
    max-height: none;
    align-items: center;
    row-gap: 8px;
  }
}
.menu-footer__link {
  margin-bottom: 5px;
}
.menu-footer__link:hover {
  color: #30C88F;
}

.footer__invite-btn {
  margin-bottom: 24px;
}

.rights {
  font-size: 15px;
  line-height: 173.3333333333%;
}