@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$grayColor: #9597A5;
$darkBlueColor: #2D314D;

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400px;
    color: $grayColor;
    overflow-x: hidden;
}
body.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .main {
        flex: 1 1 auto;
    }
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
    &__body {
        min-height: 80px;
        display: flex;
        align-items: center;
        @media (max-width: 767.98px) {
            justify-content: space-between;
            min-height: 64px;
        }
    }
}
.header__burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    @media (max-width: 767.98px) {
        display: block;
    }
}
.header__burger.burger-active span {
    display: none;
}
.header__burger::before, .header__burger::after, .header__burger span {
    content: ' ';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease;
}
.header__burger span {
    top: 50%;
    transform: translateY(-1.5px);
}
.header__burger::before {
    top: 0;
}
.header__burger::after {
    bottom: 0;
}
.header__burger.burger-active::before {
    transform: rotate(-45deg);
    top: 50%;
}
.header__burger.burger-active::after {
    transform: rotate(45deg);
    top: 50%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 767.98px) {
        padding: 0 24px;
    }
}
.menu {
    flex: 1 1 auto;
    padding: 0 15px;
    &__list {
        display: flex;
        justify-content: center;
        gap: 50 / 1150 * 100%;
        flex-wrap: wrap;
        @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
        }
    }
    &__link {
        height: 80px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.45 / 14 * 100%;
        &:hover {
            border-bottom: 4px solid rgba(51, 211, 94, 1);
            border-top: 4px solid rgba(0, 0, 0, 0);
            @media (max-width: 767.98px) {
                border-top: none;
                border-bottom: none;
            }
        }
        @media (max-width: 767.98px) {
            font-size: 18px;
            height: auto;
        }
    }
    @media (max-width: 767.98px) {
        position: fixed;
        width: 90%;
        height: 275px;
        left: 110%;
        top: 88px;
        background-color: #fff;
        padding: 32px 30px;
        overflow: auto;
        border-radius: 10px;
    }
    transition: all 0.5s ease;
}
.menu.menu-open {
    @media (max-width: 767.98px) {
        left: 50%;
        transform: translateX(-50%);
        border: 20px solid transparent;
    }
    
}
.invite-btn {
    width: 163px;
    height: 44px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 28 / 14 * 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.6;
    }
}
.header__invite-btn {
    @media (max-width: 767.98px) {
        display: none;
    }
}

// =========MAIN====================================================================================================================
// ===========Digital-banking=======================================================================================================
.digital-banking {
    padding: 17.4% 0 11.8% 0;
    background: url(../images/bg-intro-desktop.svg) no-repeat;
    background-position: 550px center;
    background-size: cover;
    @media (max-width: 991.98px) {
        background-position: 450px center;
    }
    @media (max-width: 767.98px) {
        background: none;
        padding: 0;
    }
    &__body {
        max-width: 42%;
        @media (max-width: 767.98px) {
            margin: 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__body_title {
        font-weight: 300;
        font-size: calc(40px + 16 * (100vw / 1440));
        line-height: 64 / 56 * 100%;
        margin-bottom: 24px;
        color: $darkBlueColor;
        @media (max-width: 767.98px) {
            font-size: calc(40px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
            text-align: center;
        }
        @media (min-width: 1490px) {
            color: #30C88F;
        }
    }
    &__body_text {
        font-size: calc(14px + 4 * (100vw / 1440));
        line-height: 28 / 18 * 100%;
        margin-bottom: 36px;
        color: $grayColor;
        @media (max-width: 767.98px) {
            font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
            text-align: center;
        }
    }
}
.digital-banking__container {
    @media (max-width: 767.98px) {
        margin-top: -20%;
        padding-top: 10.7%;
        padding-bottom: 88px;
    }
}
.digital-banking__image_1 {
    position: relative;
}
.digital-banking__image_1 img {
    width: 100%;
}
.digital-banking__image_2 {
    position: absolute;
    top: 4%;
    right: 0;
    width: 50%;
    @media (max-width: 767.98px) {
        position: absolute;
        top: -9%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 90%;
        // display: none;
    }
}
.digital-banking__image_2 img {
    width: 100%;
}
// ==========ADVANTAGES=============================================================================================================
.advantages {
    background-color: #F4F5F7;
    padding: 96px 0 94px 0;
    @media (max-width: 767.98px) {
        padding: 64px 0;
    }
    // .advantages__row1
    &__row1 {
        max-width: 635px;
        @media (max-width: 767.98px) {
            margin: 0 auto;
        }
    }
    // .advantages__row1-text
    &__row1-text {
        font-size: calc(14px + 4 * (100vw / 1440));
        font-weight: 400;
        line-height: 28 / 18 * 100%;
        margin-bottom: 74px;
        @media (max-width: 767.98px) {
            font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
            margin-bottom: 56px;
            text-align: center;
        }
    }
    // .advantages__row2
    &__row2 {
        display: flex;
        column-gap: 30px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            row-gap: 32px;
        }
    }
    // ..advantages__column
    &__column {
        flex: 1 1 25%;
        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    // .advantages__column-icon
    &__column-icon {
        max-width: 72px;
        margin-bottom: 40px;
        @media (max-width: 767.98px) {
            margin-bottom: 24px;
        }
    }
    // .advantages__column-title
    &__column-title {
        font-size: 24px;
        line-height: 28 / 24 * 100%;
        margin-bottom: 26px;
        color: $darkBlueColor;
        @media (max-width: 767.98px) {
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
    // .advantages__column-text
    &__column-text {
        font-size: 16px;
        line-height: 26 / 16 * 100%;
        @media (max-width: 767.98px) {
            font-size: 15px;
            text-align: center;
        }
    }
    
}
.title {
    font-size: calc(32px + 8 * (100vw / 1440));
    font-weight: 300;
    line-height: 64 / 40 * 100%;
    color: $darkBlueColor;
    @media (max-width: 767.98px) {
        text-align: center;
        font-size: calc(32px + (8 + 8 * 0.7) * ((100vw - 320px) / 1440));
    }
}
// ==========ARTICLES=============================================================================================================
.articles {
    padding: 80px 0;
    // .articles__title
    &__title {
        margin-bottom: 40px;
        @media (max-width: 767.98px) {
            margin-bottom: 31px;
        }
    }
    // .articles__cards
    &__cards {
        display: flex;
        column-gap: 2%;
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }
    // .articles__column-image
    &__column-image {
        height: 200px;
    }
    &__column-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .articles__column-content {
        padding: 9.3%;
        @media (max-width: 767.98px) {
            padding: 24px 31px;
        }
    }
    // .articles__column-sign
    &__column-sign {
        font-size: 10px;
        line-height: 18 / 10 * 100%;
        margin-bottom: 8px;
    }
    // .articles__column-title
    &__column-title {
        font-size: 16px;
        font-weight: 300;
        line-height: 20 / 16 * 100%;
        color: $darkBlueColor;
        margin-bottom: 8px;
    }
    // .articles__column-text
    &__column-text {
        font-size: 13px;
        line-height: 18 / 13 * 100%;
    }
}
// ==========FOOTER=============================================================================================================
.footer {
    background-color: #2D314D;
    padding: 48px 0;
    min-height: 191px;
    @media (max-width: 767.98px) {
        padding: 40px 0;
    }
    // .footer__body
    &__body {
        display: flex;
        min-height: 95px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            row-gap: 32px;
        }
    }
    // .footer__menu
    &__menu {
        flex: 1 1 auto;
        padding-left: 11%;
        @media (max-width: 767.98px) {
            padding: 0;
        }
    }
    // .footer__button
    &__button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: 767.98px) {
            align-items: center;
        }
    }
}
.icons-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 767.98px) {
        align-items: center;
    }
    &__logo {
        margin-bottom: 32.3px;
    }
    // .icons-footer__social
    &__social {
        display: flex;
        column-gap: 13px;
        fill: #fff;
    }
}
svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
    }
.social-icon__link:hover path {
    fill: #30C88F;
}

.menu-footer {
    // .menu-footer__list
    &__list {
        color: #fff;
        flex: 0 1 auto;
        font-size: 15px;
        line-height: 26 / 15 * 100%;
        max-height: 95px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (max-width: 767.98px) {
            max-height: none;
            align-items: center;
            row-gap: 8px;
        }
    }
    // .menu-footer__link
    &__link {
        // padding-right: 10%;
        margin-bottom: 5px;
        &:hover {
            color: #30C88F;
        }
    }
}
.footer__invite-btn {
    margin-bottom: 24px;
}
.rights {
    font-size: 15px;
    line-height: 26 / 15 * 100%;
}

